input{
    padding: 5px;
    margin: 3px auto;
}
.my-form a{
    text-decoration: none;
    color: #c9c9c9;
    text-transform: uppercase;
    text-align: center;
}

h2{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}